<div id="aboutme" class="row part">
    <div class="col-md-offset-2 col-md-8 col-sm-12 myborder">
        <h1 class="text-center padding-top-standard">About me</h1>
        <div class="col-md-4 col-sm-12">
            <div id="photo_box" class="row myborder">
                <img id="my_photo" src="static/images/jelena.jpg" class="img-circle item-center">
                <h4 class="text-center">Elena Elzengr</h4>
                <h4 class="text-center">Guide Licence: 1234567890</h4>
            </div>
        </div>
        <div class="col-md-8 col-sm-12">
            <p>
                My name is Elena Elzengr. I'm 37 years old. I have being working as a tourist guide
                in Liguria and French Riviera for more than 10 years.
            </p>
            <p>

                I'm arranging guided tours for groups and private individuals.
                I have experience of working with people coming from different backgrounds
                and age groups. So if you need a guide, please contact me!
            </p>
            <p>
                I'm also interested in long term cooperation with travel agencies
                arranging tours to Liguria and French Riviera.
            </p>
            <p>
                I speak fluently Italian, Russian, English and German. I will be comfortable
                working in any of those languages.
            </p>
            <p>
                Do not hesitate to get in touch!
            </p>
        </div>
    </div>
</div>