<div id="slideshow" class="row">
    <div id="slideset" class="carousel" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#slideset" data-slide-to="0" class="active"></li>
            <li data-target="#slideset" data-slide-to="1"></li>
            <li data-target="#slideset" data-slide-to="2"></li>
            <li data-target="#slideset" data-slide-to="3"></li>
            <li data-target="#slideset" data-slide-to="4"></li>
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <img class="item-center slide" src="static/images/slides/genoa_park_portofino.jpg">
            </div>

            <div class="item">
                <img class="item-center slide" src="static/images/slides/genoa_port.jpg">
            </div>

            <div class="item">
                <img class="item-center slide" src="static/images/slides/san-remo_street.jpg">
            </div>

            <div class="item">
                <img class="item-center slide" src="static/images/slides/genoa_nervi.jpg">
            </div>

            <div class="item">
                <img class="item-center slide" src="static/images/slides/genoa_camogli.jpg">
            </div>
        </div>
        <!-- Controls -->
        <a class="left carousel-control" href="#slideset" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#slideset" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
</div>