<div id="tours" class="row part myborder">
    <div class="col-md-offset-1 col-md-10 col-sm-12 myborder">
        <h1 id="liguria-heading" class="text-center padding-top-standard">Guided Tours in Liguria</h1>
        <p>
            Liguria is located in the northern part of Italy, bordering with France.
            The region is famous for its impressive landscapes, beautiful resorts,
            and rich historical heritage. There are a lot of things to see and to do:
            nature, mountains, cultural events, shopping, entertainments, vibrant night life,
            all you have to do is to choose.
        </p>
        <p>
            The coast of Liguria stretches from Ameglia to Ventimiglia, for more than 300 km.
            The most famous resorts in Liguria are Portofino, Santa Margherita Ligure,
            Rapallo, Camogli, Alassio and Bordighera.
        </p>
        <p>
            Liguria possesses a number of attractions classified as World Heritage Sites by Unesco.
            One of these sites is Genoa. The city mixes the past and the present, and it is full of
            cotrasts and colours. You can feel its ancient atmosphere walking among the narrow alleys
            of the old town of Genoa. The most beautiful place of Genoa is Via Garibaldi, famous for
            its ancient palaces and some of the world most fascinating 16th century architecture.
        </p>
        <p>
            Another gem of Liguria is Sanremo, the city of flowers, famous for the Italian Music Festival.
            The historical quarter of Sanremo is called La Pigna, and it is definitely worth time and attention.
        </p>

        <div id="liguria-tours" class="row tours-presentation">
            <div class="col-sm-4 col-xs-12">
                <div class="thumbnail tour-item">
                    <a href="/tours/liguria/genoa">
                        <img src="/static/images/thumbnails/liguria/genoa.jpg" alt="Genoa">
                    </a>
                    <div class="caption">
                        <h4 class="text-center">Genoa</h4>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-xs-12">
                <div class="thumbnail tour-item">
                    <a href="/tours/liguria/sanremo">
                        <img src="/static/images/thumbnails/liguria/san_remo_park.jpg" alt="Sanremo">
                    </a>
                    <div class="caption">
                        <h4 class="text-center">Sanremo</h4>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-xs-12">
                <div class="thumbnail tour-item">
                    <a href="/tours/liguria/portofino">
                        <img src="/static/images/thumbnails/liguria/portofino.jpg" alt="Porofino">
                    </a>
                    <div class="caption">
                        <h4 class="text-center">Portofino</h4>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-xs-12">
                <div class="thumbnail tour-item">
                    <a href="/tours/liguria/dolceaqua">
                        <img src="/static/images/thumbnails/liguria/dolceaqua.jpg" alt="Dolceacqua">
                    </a>
                    <div class="caption">
                        <h4 class="text-center">Dolceacqua</h4>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-xs-12">
                <div class="thumbnail tour-item">
                    <a href="/tours/liguria/seborga">
                        <img src="/static/images/thumbnails/liguria/seborga.jpg" alt="Seborga">
                    </a>
                    <div class="caption">
                        <h4 class="text-center">Seborga</h4>
                    </div>
                </div>
            </div>

        </div>

        <h1 id="riviera-heading" class="text-center padding-top-standard">Guided Tours in French Riviera</h1>
        <p>
            Côte d'Azur, or French Riviera in English, is the Mediterranean coastline in the southeast of France.
            There is no official boundary, but it is usually considered to extend from the Italian border to Toulon.
            French Riviera is known for its crystal blue water, warm weather, glamorous resorts, high rollers,
            and most luxurious yachts.
        </p>
        <p>
            It began as a winter health resort for the British upper class at the end of 18th century. In the
            mid-19th century, it became the playground and vacation spot of aristocrats from all over the world,
            such as Queen Victoria, Empress Aleksandra Fedorovna, members of Rotchilds family. In the first half
            of the 20th century, it became popular among artists and writers. Pablo Picasso, Henri Matisse, Marc Chagall,
            Somerset Maugham, Ivan Bunin, Aldous Huxley, and Vladimir Nabokov used to spend their summers there.
        </p>
        <p>
           After World War II, Côte d'Azur became a popular tourist destination place. Oficially, nowadays it is
           the home to 163 nationalities, with about 85000 of foreign residents.
        </p>

        <div id="riviera-tours" class="row tours-presentation">
            <div class="col-sm-4 col-xs-12">
                <div class="thumbnail tour-item">
                    <a href="/tours/riviera/nice">
                        <img src="/static/images/thumbnails/french-riviera/nice.jpg" alt="Nice">
                    </a>
                    <div class="caption">
                        <h4 class="text-center">Nice</h4>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-xs-12">
                <div class="thumbnail tour-item">
                    <a href="/tours/riviera/antibes_and_cannes">
                        <img src="/static/images/thumbnails/french-riviera/cannes.jpg" alt="Cannes">
                    </a>
                    <div class="caption">
                        <h4 class="text-center">Antibes and Cannes</h4>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-xs-12">
                <div class="thumbnail tour-item">
                    <a href="/tours/riviera/monaco">
                        <img src="/static/images/thumbnails/french-riviera/monaco.jpg" alt="Monaco">
                    </a>
                    <div class="caption">
                        <h4 class="text-center">Monaco</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>