<footer id="footer" class="container-fluid">
    <div class="row">
        <div class="col-sm-offset-1 col-sm-5">
            <address>
                Tourist Guide: Elena Elzengr<br/>
                Licence: 1234567890 <br/>
                Phone: +39 12345678 <br/>
                E-mail: mail@ellejourney.com <br/>
            </address>
        </div>

        <div class="col-sm-5">
            <p class="text-center">
                <a class="btn btn-default btn-customized" href="#"><i class="fa fa-twitter fa-1x"></i></a>
                <a class="btn btn-default btn-customized" href="#"><i class="fa fa-facebook fa-1x"></i></a>
                <a class="btn btn-default btn-customized" href="#"><i class="fa fa-google-plus fa-1x"></i></a>
                <a class="btn btn-default btn-customized" href="#"><i class="fa fa-linkedin fa-1x"></i></a>
            </p>
        </div>
    </div>
    <div class="row"><hr /></div>
    <div class="row">
        <p class="text-center">www.ellejourney.com &copy; 2017</p>
    </div>
</footer>