<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">	    
	    <title>
	        {% block title %}{% endblock title %}
	    </title>
	    <link rel="stylesheet" type="text/css" href="static/libraries/bootstrap/css/bootstrap.min.css">
	    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
	    <link rel="stylesheet" href="static/style/style.css"/>
	    <!--[if lt IE 9]>
	       <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	       <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	    <![endif]-->
    {% endblock head %}
</head>
<body>
<div id="main" class="container-fluid clear-padding">
    {% block main %}
        <div id="header-container" class="page-row">
           {% block header %}
               <div id="page-logo">
                  {% block logo %}
                  {% endblock logo %}
               </div>
               <div id="page-navigation">
                   {% block navigation %}
                   {% endblock navigation %}
               </div>
           {% endblock header %}
        </div>
        <div id="content-container" class="page-row page-row-expanded">
            <div id="content" class="container-fluid">
	            {% block content %}
	            {% endblock content %}
            </div>
        </div>
        <div id="footer-container" class="page-row">
           {% block footer %}
           {% endblock footer %}
        </div>        
    {% endblock main %}    
</div>
<div id="scripts">
    {% block scripts %}
    	<script src="static/libraries/jquery/jquery-3.1.1.min.js"></script>
    	<script src="static/libraries/bootstrap/js/bootstrap.js"></script>
    	
    	{# this script will be activated only if the flag redirect is provided #}
    	{% if redirect %}
		<script>
	    	document.location.hash = '#' + '{{ redirect }}';
		</script>
		{% endif %}
    {% endblock scripts %}
</div>
</body>
</html>